<section class="aboutus-weare-info space bg-white">
    <div class="container-fluid">
        <div class="aboutus-weare-info-block">
            <div class="row align-items-end">
                <div class="col-sm-8">
                    <div class="aboutus-weare-info-block-left">
                        <h2 class="heading-lg text-heading text-black mb-0">We Are Cypherox</h2>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="aboutus-weare-info-block-right">
                        <p class="text-black text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque massa in risus scelerisque, eu pretium lacus commodo. Aenean viverra metus.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="aboutus-weare-info-block-banner mt-3 mt-md-5">
                        <img src="../../assets/images/about-us-main-banner.png" class="w-100 img-fluid" alt="About Us" title="About Us" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>