<section class="space aboutus-review-area">
    <div class="container-fluid">
        <hgroup class="hgroup mb-0 focused">
            <h3 class="text-black text-uppercase border-bottom border-dark pb-2 text-hgroup-sm dot position-relative mb-0">Review</h3>
        </hgroup>

        <div class="aboutus-review-block mt-3 mt-md-4">
            <div class="aboutus-review-slider-area">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="aboutus-review-slider-left h-100">
                            <div class="aboutus-review-slider-left-info bg-light p-4 rounded-4 h-100 d-flex align-items-end flex-column justify-content-between">
                                <p class="text-lg text-black"><span class="text-primary">Cypherox</span> has grown remarkably over the years and holding a strong position in the <span class="text-primary">web development industry.</span> Client satisfaction, swift service, and the surefire outcome are our primary objectives amidst others.</p>
                                <div class="aboutus-review-slider-quote">
                                    <svg width="188" height="149" viewBox="0 0 188 149" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.05" d="M75.9726 0V50.3034C75.9726 71.5285 73.6119 89.9943 68.8904 105.701C64.169 121.407 56.8721 135.84 47 149H0C10.7306 135.416 19.1005 121.407 25.1096 106.974C31.1187 92.9658 34.1233 79.8063 34.1233 67.4958H0.643829V0H75.9726ZM188 0V50.3034C188 71.104 185.854 89.3576 181.562 105.064C176.84 121.195 169.543 135.84 159.671 149H112.027C122.758 135.416 131.128 121.407 137.137 106.974C143.146 92.9658 146.151 79.8063 146.151 67.4958H112.671V0H188Z" fill="black"/>
                                        </svg>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="aboutus-review-slider-right">
                            <div class="aboutus-review-slider-right-images d-flex justify-content-between gap-4">
                                <div class="aboutus-review-slider-right-img-block">
                                    <img src="../../assets/images/about-review01.png" class="img-fluid rounded-3" alt="Review 01" title="Review 01">
                                </div>
                                <div class="aboutus-review-slider-right-img-block">
                                    <img src="../../assets/images/about-review01.png" class="img-fluid rounded-3" alt="Review 01" title="Review 01">
                                </div>
                                
                            </div>
                            <div class="bg-dark text-center p-3 mt-4 rounded-3">
                                <h6 class="text-white text-default fw-bold mb-0">Jon Deo</h6>
                                <p class="mb-0 text-white-50 text">CEO & Founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>