{% extends "base.njk"%}

{% block content %}
{% include "layouts/aboutus-weare-cx-info.njk" %}
{% include "layouts/aboutus-aboutinfo.njk" %}
{% include "layouts/aboutus-review.njk" %}
{% include "layouts/home-team.njk" %}
{% include "layouts/home-chat.njk" %}

{% endblock %}