<section class="projects-area bg-white space overflow-hidden">
    <div class="container-fluid pe-0">
        <hgroup class="hgroup mb-4">
            <h3 class="text-black text-uppercase border-bottom border-dark pb-2 text-hgroup-sm dot position-relative mb-0">Projects</h3>
        </hgroup>
        <div class="projects-area-block py-3">
            <div class="row">
                <div class="col-sm-5">
                    <div class="projects-area-block-left">
                        <h4 class="text-black heading-sm mb-4 lheight-normal">We Have Successfully Completed 1500+ Projects</h4>
                        <p class="text text-muted lheight-normal mx-width">Curabitur lobortis nunc dui, sed consectetur turpis hendrerit a. Nunc vel ullamcorper dui. Ut ut elit quam.</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="projects-area-block-right-cards">
                        <div class="row gx-3">
                            <div class="col-sm-4 item">
                                <div class="projects-area-block-right">
                                    <div class="card border-0 bg-primary position-relative mb-3">
                                        <div class="card-body d-flex justify-content-between flex-column p-3 p-md-4">
                                            <div class="card-body-top">
                                          <h5 class="card-title text-white heading-sm card-title-2xl">450<sup>+</sup></h5>
                                        </div>
                                        <div class="card-body-bottom">
                                          <h6 class="card-subtitle mb-2 text-white">Happy Clients</h6>
                                          <p class="card-text text lheight-normal text-white">Nam ultrices finibus magna nec interdum. Fusce eget nisl .</p>
                                        </div>
                                    </div>
                                      </div>
                                </div>
                            </div>
                            <div class="col-sm-4 item">
                                <div class="projects-area-block-right">
                                    <div class="card border-0 bg-light position-relative mb-3">
                                        <div class="card-body d-flex justify-content-between flex-column p-3 p-md-4">
                                            <div class="card-body-top">
                                          <h5 class="card-title heading-sm card-title-2xl">450<sup>+</sup></h5>
                                        </div>
                                        <div class="card-body-bottom">
                                          <h6 class="card-subtitle mb-2 ">Happy Clients</h6>
                                          <p class="card-text text text-muted lheight-normal">Nam ultrices finibus magna nec interdum. Fusce eget nisl .</p>
                                        </div>
                                    </div>
                                      </div>
                                </div>
                            </div>
                            <div class="col-sm-4 item">
                                <div class="projects-area-block-right">
                                    <div class="card border-0 bg-light position-relative mb-3">
                                        <div class="card-body d-flex justify-content-between flex-column p-3 p-md-4">
                                            <div class="card-body-top">
                                          <h5 class="card-title heading-sm card-title-2xl">450<sup>+</sup></h5>
                                        </div>
                                        <div class="card-body-bottom">
                                          <h6 class="card-subtitle mb-2 ">Happy Clients</h6>
                                          <p class="card-text text text-muted lheight-normal">Nam ultrices finibus magna nec interdum. Fusce eget nisl .</p>
                                        </div>
                                    </div>
                                      </div>
                                </div>
                            </div>
                            <div class="col-sm-4 item">
                                <div class="projects-area-block-right">
                                    <div class="card border-0 bg-light position-relative mb-3">
                                        <div class="card-body d-flex justify-content-between flex-column p-3 p-md-4">
                                            <div class="card-body-top">
                                          <h5 class="card-title heading-sm card-title-2xl">450<sup>+</sup></h5>
                                        </div>
                                        <div class="card-body-bottom">
                                          <h6 class="card-subtitle mb-2 ">Happy Clients</h6>
                                          <p class="card-text text text-muted lheight-normal">Nam ultrices finibus magna nec interdum. Fusce eget nisl .</p>
                                        </div>
                                    </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>