<section class="py-5 about-area bg-black">
    <div class="container-fluid content-inside-x">
        <hgroup class="hgroup mb-4">
            <h3 class="text-white text-uppercase border-bottom border-white pb-2 text-hgroup-sm dot position-relative">About Us</h3>
        </hgroup>
        <h4 class="text-white heading-sm">Cypherox Technologies <span class="text-primary">is a website development company based in Ahmedabad that specializes in building a</span> substantial online presence by providing various IT <span class="text-primary">services.</span></h4>

        <div class="about-area-bottom mt-5">
            <div class="row">
                <div class="col-sm-4">
                    <div class="about-area-bottom-left">
                        <div class="about-area-bottom-left-social">
                              <h5 class=" text-white heading-sm">S.</h5> 
                              <ul class="social-links">
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Behance</a></li>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">LinkedIn</a></li>
                              </ul> 
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-area-bottom-middle">
                        <div class="text">
                            <p class="text-muted">Whether you are looking for Web Development, E-commerce Development, Custom Mobile App Development, Search Engine Optimization (SEO), Digital Marketing or Chatbot Development for websites and mobile applications; our tech-savvy team will be glad to transform your aspiration into reality.</p>
                            <div class="button-block">
                                <a href="#" class="btn btn-outline-light rounded-0">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="about-area-bottom-right">
                        <div class="about-area-bottom-right-img">
                            <img src="assets/images/about-us-banner.png" class="w-100 img-fluid" alt="About Us" title="About Us" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <svg id="svg">
      <defs>
        <mask id="mask">
          <rect width="100%" height="100%" fill="white"></rect>
          <circle id="b-circle-1" cx="50%" cy="50%" r="60" fill="black"></circle>
          <circle id="w-circle" cx="50%" cy="50%" r="60" fill="white"></circle>
          <circle id="b-circle-2" cx="50%" cy="50%" r="60" fill="black"></circle>
        </mask>
      </defs>
      <rect id="whiteLayer" width="100%" height="100%" fill="white"></rect>
      <rect width="100%" height="100%" fill="black" mask="url(#mask)"></rect>
    </svg>
</section>