<section class="technologies-area bg-black space overflow-hidden">
    <div class="container-fluid">
        <hgroup class="hgroup mb-4">
            <h3 class="text-white text-uppercase border-bottom border-white pb-2 text-hgroup-sm dot position-relative mb-0">Technologies</h3>
        </hgroup>
        <div class="technologies-area-block py-5">
        <div class="row">
            <div class="col-auto">
                <div class="technologies-area-block-info ">
                    <div class="technologies-area-block-info-icons">
                        <div class="technologies-area-block-info-icons icons-group d-flex align-items-center">
                            <div class="technologies-area-block-info-icon border-start-0 border-top-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <img src="assets/images/technologies-icon01.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                        </div>
                        <div class="technologies-area-block-info-icons icons-group d-flex align-items-center">
                            <div class="technologies-area-block-info-icon border-start-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <img src="assets/images/technologies-icon02.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon border-top-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <img src="assets/images/technologies-icon03.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                        </div>
                        <div class="technologies-area-block-info-icons icons-group d-flex align-items-center">
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <img src="assets/images/technologies-icon04.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <span class="bottom-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon border-bottom-0 d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <img src="assets/images/technologies-icon05.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mx-auto">
                <div class="technologies-area-block-info text-center">
                    <h4 class="text-white heading-xsm">Core PHP</h4>
                    <p class="text-white text lheight-normal opacity-75">PHP has been continuously developing over time and has become both advanced in features and simpler in working. It has been proven time and cost-effective to utilize for developing any web or mobile application. </p>
                </div>
            </div>
            <div class="col-auto">
                <div class="technologies-area-block-info ">
                    <div class="technologies-area-block-info-icons">
                        <div class="technologies-area-block-info-icons icons-group d-flex align-items-center">
                            <div class="technologies-area-block-info-icon border-start-0 border-end-0 border-top-0 border-bottom-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon border-start-0 border-top-0 border-bottom-0 border-end-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon border-start-0 border-top-0 border-bottom-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <img src="assets/images/technologies-icon06.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                        </div>
                        <div class="technologies-area-block-info-icons icons-group d-flex align-items-center">
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <img src="assets/images/technologies-icon07.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon border-top-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <img src="assets/images/technologies-icon08.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                                <span class="bottom-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon border-top-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex border-end-0 align-items-center justify-content-center position-relative">
                               
                            </div>
                        </div>
                        <div class="technologies-area-block-info-icons icons-group d-flex align-items-center">
                            <div class="technologies-area-block-info-icon border-start-0 border-end-0 border-top-0 border-bottom-0 d-flex align-items-center justify-content-center position-relative">
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <img src="assets/images/technologies-icon09.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                            </div>
                            <div class="technologies-area-block-info-icon d-flex border-bottom-0 align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                                <span class="bottom-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon  d-flex align-items-center justify-content-center position-relative">
                                <span class="top-dot dot-white"></span>
                            </div>
                            <div class="technologies-area-block-info-icon d-flex align-items-center justify-content-center position-relative">
                                <img src="assets/images/technologies-icon10.svg" alt="Technologies 01" title="Technologies 01" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>