<section class="our-team bg-black space">
    <div class="container-fluid">
        <hgroup class="hgroup mb-4">
            <h3 class="text-white text-uppercase border-bottom border-white pb-2 text-hgroup-sm dot position-relative mb-0">Team</h3>
        </hgroup>
        <div class="our-team-top position-relative">
            <h4 class="text-white heading-sm lheight-normal">Meet Our Leadership <span class="text-primary">Team</span></h4>
            <div class="slider-arrows">
                <div class="swiper-button-next our-team-slider-next"></div>
                <div class="swiper-button-prev our-team-slider-prev"></div>
            </div>
        </div>
        <div class="our-team-middle mt-md-5 mt-3">
            <div class="our-team-slider swiper">
                <div class="swiper-wrapper">
                <div class="swiper-slide border-end border-dark py-0 py-md-3 px-4">
                    <div class="our-team-middle-block">
                        <h5 class="text-white fw-normal team-title position-relative triangle-right">John Deo</h5>
                        <div class="our-team-middle-block-img position-relative my-4">
                            <div class="our-team-middle-block-img-corner position-relative mx-auto">
                             <span class="corner-top"></span>
                            <img src="assets/images/our-team-member01.png" class="img-fluid" alt="John Deo" title="John Deo" />
                            <span class="corner-bottom"></span>
                        </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-normal">Designer</h6>
                        <div class="star-icon">
                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 0.5V28" stroke="white"/>
                                <path d="M28.25 14.25L0.75 14.25" stroke="white"/>
                                <circle cx="14.5" cy="14" r="2" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide border-end border-dark py-0 py-md-3 px-4">
                    <div class="our-team-middle-block">
                        <h5 class="text-white fw-normal team-title position-relative triangle-right">John Deo</h5>
                        <div class="our-team-middle-block-img position-relative my-4">
                            <div class="our-team-middle-block-img-corner position-relative mx-auto">
                             <span class="corner-top"></span>
                            <img src="assets/images/our-team-member02.png" class="img-fluid" alt="John Deo" title="John Deo" />
                            <span class="corner-bottom"></span>
                        </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-normal">Designer</h6>
                        <div class="star-icon">
                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 0.5V28" stroke="white"/>
                                <path d="M28.25 14.25L0.75 14.25" stroke="white"/>
                                <circle cx="14.5" cy="14" r="2" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide border-end border-dark py-0 py-md-3 px-4">
                    <div class="our-team-middle-block">
                        <h5 class="text-white fw-normal team-title position-relative triangle-right">John Deo</h5>
                        <div class="our-team-middle-block-img position-relative my-4">
                            <div class="our-team-middle-block-img-corner position-relative mx-auto">
                             <span class="corner-top"></span>
                            <img src="assets/images/our-team-member03.png" class="img-fluid" alt="John Deo" title="John Deo" />
                            <span class="corner-bottom"></span>
                        </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-normal">Designer</h6>
                        <div class="star-icon">
                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 0.5V28" stroke="white"/>
                                <path d="M28.25 14.25L0.75 14.25" stroke="white"/>
                                <circle cx="14.5" cy="14" r="2" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide border-end border-dark py-0 py-md-3 px-4">
                    <div class="our-team-middle-block">
                        <h5 class="text-white fw-normal team-title position-relative triangle-right">John Deo</h5>
                        <div class="our-team-middle-block-img position-relative my-4">
                            <div class="our-team-middle-block-img-corner position-relative mx-auto">
                             <span class="corner-top"></span>
                            <img src="assets/images/our-team-member01.png" class="img-fluid" alt="John Deo" title="John Deo" />
                            <span class="corner-bottom"></span>
                        </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-normal">Designer</h6>
                        <div class="star-icon">
                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 0.5V28" stroke="white"/>
                                <path d="M28.25 14.25L0.75 14.25" stroke="white"/>
                                <circle cx="14.5" cy="14" r="2" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide border-end border-dark py-0 py-md-3 px-4">
                    <div class="our-team-middle-block">
                        <h5 class="text-white fw-normal team-title position-relative triangle-right">John Deo</h5>
                        <div class="our-team-middle-block-img position-relative my-4">
                            <div class="our-team-middle-block-img-corner position-relative mx-auto">
                             <span class="corner-top"></span>
                            <img src="assets/images/our-team-member02.png" class="img-fluid" alt="John Deo" title="John Deo" />
                            <span class="corner-bottom"></span>
                        </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-normal">Designer</h6>
                        <div class="star-icon">
                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 0.5V28" stroke="white"/>
                                <path d="M28.25 14.25L0.75 14.25" stroke="white"/>
                                <circle cx="14.5" cy="14" r="2" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide border-end border-dark py-0 py-md-3 px-4">
                    <div class="our-team-middle-block">
                        <h5 class="text-white fw-normal team-title position-relative triangle-right">John Deo</h5>
                        <div class="our-team-middle-block-img position-relative my-4">
                            <div class="our-team-middle-block-img-corner position-relative mx-auto">
                             <span class="corner-top"></span>
                            <img src="assets/images/our-team-member03.png" class="img-fluid" alt="John Deo" title="John Deo" />
                            <span class="corner-bottom"></span>
                        </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                        <h6 class="text-primary fw-normal">Designer</h6>
                        <div class="star-icon">
                            <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 0.5V28" stroke="white"/>
                                <path d="M28.25 14.25L0.75 14.25" stroke="white"/>
                                <circle cx="14.5" cy="14" r="2" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
     
        </div>
</section>