<section class=" awards-area space bg-white">
    <div class="container-fluid">
        <hgroup class="hgroup mb-0">
            <h3 class="text-black text-uppercase border-bottom border-dark pb-2 text-hgroup-sm dot position-relative mb-0">See our awards</h3>
        </hgroup>

        <div class="awards-area-block py-5 position-relative">
            <div class="row align-items-stretch ">
                <div class="col-sm-4 my-auto">
                    <div class="awards-area-block-left">
                        <h4 class="text-black heading-sm mb-4 lheight-normal">Ut felis augue, <span class="d-block">luctus blandit</span></h4>
                        <p class="text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique scelerisque magna eget consequat. Etiam ac ante ac quam lacinia pellentesque vitae eget est. Aenean accumsan elit non feugiat vestibulum. Nullam nec quam vel enim volutpat dignissim. Duis congue laoreet dolor. Sed et nibh at sapien gravida maximus vitae non nulla. </p>
                    </div>
                </div>
                <div class="col-sm-4 my-auto z-index-1">
                    <div class="awards-area-block-middle text-center">
                        <div class="awards-area-block-middle-images active">
                            <img src="assets/images/awards01.png" class="img-fluid" alt="Awards 01" title="Awards 01 " />
                        </div>
                        <div class="awards-area-block-middle-images">
                            <img src="assets/images/awards02.png" class="img-fluid" alt="Awards 01" title="Awards 02 " />
                        </div>
                        <div class="awards-area-block-middle-images">
                            <img src="assets/images/awards03.png" class="img-fluid" alt="Awards 01" title="Awards 03 " />
                        </div>
                        <div class="awards-area-block-middle-images">
                            <img src="assets/images/awards04.png" class="img-fluid" alt="Awards 01" title="Awards 04 " />
                        </div>
                        <div class="awards-area-block-middle-images">
                            <img src="assets/images/awards05.png" class="img-fluid" alt="Awards 01" title="Awards 05 " />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 my-auto">
                    <div class="awards-area-block-right">
                        <div class="awards-area-block-right-links">
                            <ul class="dark-link-lg">
                                <li class="active"><a href="javascript:void(0);">Top Web Development from goodfirm.co</a></li>
                                <li><a href="javascript:void(0);">Top Web Development from appfutura ahemdabad</a></li>
                                <li><a href="javascript:void(0);">Top web developers from wadline.com </a></li>
                                <li><a href="javascript:void(0);">top app developer Certified from appfirms</a></li>
                                <li><a href="javascript:void(0);">top mobile app develpers from top developers the genuine quality </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>