{% extends "base.njk"%}

{% block content %}
{% include "layouts/home-hero.njk" %}
{% include "layouts/home-about.njk" %}
{% include "layouts/home-services.njk" %}
{% include "layouts/home-award.njk" %}
{% include "layouts/home-testimonials.njk" %}
{% include "layouts/home-technologies.njk" %}
{% include "layouts/home-project.njk" %}
{% include "layouts/home-weserve.njk" %}
{% include "layouts/home-team.njk" %}
{% include "layouts/home-blog.njk" %}
{% include "layouts/home-chat.njk" %}
{% endblock %}