<section class="lets-chat space">
    <div class="container-fluid">
        <div class="lets-chat-block bg-primary rounded-3 p-md-4 p-3">
            <div class="d-flex align-items-center justify-content-between">
                    <div class="lets-chat-block-left">
                        <h4 class="text-black heading-lg mb-0 lheight-normal">Let’s Chat</h4>
                        <p class="text-black text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="lets-chat-block-right">
                        <a href="javascript:void(0)" class="lets-chat-block-right-icon bg-white rounded-pill d-flex align-items-center justify-content-center me-2 me-lg-5">
                            <svg width="129" height="100" viewBox="0 0 129 100" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 50H126M126 50C111.279 50.6871 81.4228 61.0491 79.7718 97M126 50C111.279 49.3129 81.4228 38.9509 79.7718 3" stroke="#F26E65" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

                        </a>  
                    </div>
            </div>
        </div>
    </div>
</section>