<section class="services-area bg-black services-bg">
    <div class="container-fluid">
        <hgroup class="hgroup mb-4">
            <h3 class="text-white text-uppercase border-bottom border-white pb-2 text-hgroup-sm dot position-relative mb-0">Services</h3>
        </hgroup>
        <h4 class="text-white heading-sm">Innovative <span class="text-primary">Services</span> We Provide</h4>
        <p class="text text-muted">Whether you are looking for Web Development, E-commerce Development, Custom Mobile App Development, Search Engine Optimization (SEO), Digital Marketing or Chatbot Development for websites and mobile applications; our tech-savvy team will be glad to transform your aspiration into reality.</p>
        
        <div class="services-box">
            <div class="services-bottom-area mt-5">
                <div id="web-Development" class="services-bottom-item mb-5 active">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="services-bottom-left">
                                <div class="services-bottom-left-content">
                                <h3 class="text-white heading-sm mb-4 lheight-normal">Web <span class="d-block"> Development</span></h3>
                                <p class="text text-muted">Nearly three decades ago, the world’s first website was launched by Tim Berners-Lee in Switzerland, and the World Wide Web became accessible for the public. It’s been an exciting ride since the day. In December 2018, the World Wide Web turned 27 years old.</p>
                                <ul class="services-tags my-5 d-flex align-items-center justify-content-between flex-wrap">
                                    <li><a href="#">Concept & Theme</a></li>
                                    <li><a href="#">Content</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Navigation</a></li>
                                    <li><a href="#">Coding</a></li>
                                </ul>
                                <div class="button-block">
                                    <a href="#" class="text-primary btn-link text-decoration-none1">About Website Cloning</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-5 offset-md-1">
                            <div class="services-bottom-right">
                                <div class="services-bottom-right-content">
                                    <div class="services-bottom-right-img">
                                        <img src="assets/images/web-development.svg" class="img-fluid" alt="Web Development" title="Web Development" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mobile-app" class="services-bottom-item mb-5 " >
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="services-bottom-left">
                                <div class="services-bottom-left-content">
                                <h3 class="text-white heading-sm mb-4 lheight-normal">Mobile App <span class="d-block"> DEvelopment</span></h3>
                                <p class="text text-muted">Nearly three decades ago, the world’s first website was launched by Tim Berners-Lee in Switzerland, and the World Wide Web became accessible for the public. It’s been an exciting ride since the day. In December 2018, the World Wide Web turned 27 years old.</p>
                                <ul class="services-tags my-5 d-flex align-items-center justify-content-between flex-wrap">
                                    <li><a href="#">Concept & Theme</a></li>
                                    <li><a href="#">Content</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Navigation</a></li>
                                    <li><a href="#">Coding</a></li>
                                </ul>
                                <div class="button-block">
                                    <a href="#" class="text-primary btn-link text-decoration-none1">About Website Cloning</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-5 offset-md-1">
                            <div class="services-bottom-right">
                                <div class="services-bottom-right-content">
                                    <div class="services-bottom-right-img">
                                        <img src="assets/images/mobile-development.svg" class="img-fluid" alt="Web Development" title="Web Development" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="e-commerce" class="services-bottom-item mb-5 " >
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="services-bottom-left">
                                <div class="services-bottom-left-content">
                                <h3 class="text-white heading-sm mb-4 lheight-normal"> E-commerce </h3>
                                <p class="text text-muted">Nearly three decades ago, the world’s first website was launched by Tim Berners-Lee in Switzerland, and the World Wide Web became accessible for the public. It’s been an exciting ride since the day. In December 2018, the World Wide Web turned 27 years old.</p>
                                <ul class="services-tags my-5 d-flex align-items-center justify-content-between flex-wrap">
                                    <li><a href="#">Concept & Theme</a></li>
                                    <li><a href="#">Content</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Navigation</a></li>
                                    <li><a href="#">Coding</a></li>
                                </ul>
                                <div class="button-block">
                                    <a href="#" class="text-primary btn-link text-decoration-none1">About Website Cloning</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-5 offset-md-1">
                            <div class="services-bottom-right">
                                <div class="services-bottom-right-content">
                                    <div class="services-bottom-right-img">
                                        <img src="assets/images/E-Commerce-Decelopment.svg" class="img-fluid" alt="Web Development" title="Web Development" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="chatbot" class="services-bottom-item mb-5 " >
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="services-bottom-left">
                                <div class="services-bottom-left-content">
                                <h3 class="text-white heading-sm mb-4 lheight-normal"> Chatbot <span class="d-block">Development</span></h3>
                                <p class="text text-muted">Nearly three decades ago, the world’s first website was launched by Tim Berners-Lee in Switzerland, and the World Wide Web became accessible for the public. It’s been an exciting ride since the day. In December 2018, the World Wide Web turned 27 years old.</p>
                                <ul class="services-tags my-5 d-flex align-items-center justify-content-between flex-wrap">
                                    <li><a href="#">Concept & Theme</a></li>
                                    <li><a href="#">Content</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Navigation</a></li>
                                    <li><a href="#">Coding</a></li>
                                </ul>
                                <div class="button-block">
                                    <a href="#" class="text-primary btn-link text-decoration-none1">About Website Cloning</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-5 offset-md-1">
                            <div class="services-bottom-right">
                                <div class="services-bottom-right-content">
                                    <div class="services-bottom-right-img">
                                        <img src="assets/images/Chatbox-development.svg" class="img-fluid" alt="Web Development" title="Web Development" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-tab">
                <ul>
                    <li class="active">
                        <a href="#web-Development">
                            <span>Web <br> Development</span>
                            <span>I</span>
                        </a>
                    </li>
                    <li>
                        <a href="#mobile-app">
                            <span>Mobile App <br> DEvelopment</span>
                            <span>II</span>
                        </a>
                    </li>
                    <li>
                        <a href="#e-commerce">
                            <span>E-commerce</span>
                            <span>III</span>
                        </a>
                    </li>
                    <li>
                        <a href="#chatbot">
                            <span>Chatbot <br> Development</span>
                            <span>IV</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>