<section class=" client-speak-area space bg-black pb-0">
    <div class="container-fluid">
        <hgroup class="hgroup mb-4">
            <h3 class="text-white text-uppercase border-bottom border-white pb-2 text-hgroup-sm dot position-relative mb-0">APPRECIATION FROM - <span class="text-primary">Clients</span></h3>
        </hgroup>
        <div class="client-speak-block pt-3">
        <div class="row">
            <div class="col-sm-7">
                <div class="client-speak-block-left">
                    <div class="client-speak swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                            <p class=" text-white text-lg">"Our journey with Cypherox Technologies was exceptional. Their dedication to understanding our needs and translating them into a stunning app was commendable. Kudos to the team for their professionalism and top-notch delivery!" </p>
                            <div class="client-speak-block-left-bottom mt-2 mt-lg-5 border-dark border rounded-pill px-4 py-3 d-flex align-items-center">
                        <div class="client-speak-block-left-counter">
                            <div class="client-speak-block-left-counter-count bg-primary rounded-pill d-flex align-items-center justify-content-center">
                                <span class=" text-white">1/4</span>
                            </div>
                        </div>
                        <div class="client-speak-block-left-counter-icons d-flex align-items-center">
                            <span class="bg-white"></span>
                            <span class="bg-white"></span>
                        </div>
                        <div class="client-speak-block-left-info ps-3">
                            <h6 class="text-lg text-white mb-0 font-weight-bold">Sarah D</h6>
                            <p class="text-lg text-muted mb-0">CEO, Tech Innovations Inc</p>
                        </div>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <p class=" text-white text-lg">"Our journey with Cypherox Technologies was exceptional. Their dedication to understanding our needs and translating them into a stunning app was commendable. Kudos to the team for their professionalism and top-notch delivery!" </p>
                                <div class="client-speak-block-left-bottom mt-2 mt-lg-5 border-dark border rounded-pill px-4 py-3 d-flex align-items-center">
                            <div class="client-speak-block-left-counter">
                                <div class="client-speak-block-left-counter-count bg-primary rounded-pill d-flex align-items-center justify-content-center">
                                    <span class=" text-white">2/4</span>
                                </div>
                            </div>
                            <div class="client-speak-block-left-counter-icons d-flex align-items-center">
                                <span class="bg-white"></span>
                                <span class="bg-white"></span>
                            </div>
                            <div class="client-speak-block-left-info ps-3">
                                <h6 class="text-lg text-white mb-0 font-weight-bold">Sarah D</h6>
                                <p class="text-lg text-muted mb-0">CEO, Tech Innovations Inc</p>
                            </div>
                            </div>
                                </div>
                                <div class="swiper-slide">
                                    <p class=" text-white text-lg">"Our journey with Cypherox Technologies was exceptional. Their dedication to understanding our needs and translating them into a stunning app was commendable. Kudos to the team for their professionalism and top-notch delivery!" </p>
                                    <div class="client-speak-block-left-bottom mt-2 mt-lg-5 border-dark border rounded-pill px-4 py-3 d-flex align-items-center">
                                <div class="client-speak-block-left-counter">
                                    <div class="client-speak-block-left-counter-count bg-primary rounded-pill d-flex align-items-center justify-content-center">
                                        <span class=" text-white">3/4</span>
                                    </div>
                                </div>
                                <div class="client-speak-block-left-counter-icons d-flex align-items-center">
                                    <span class="bg-white"></span>
                                    <span class="bg-white"></span>
                                </div>
                                <div class="client-speak-block-left-info ps-3">
                                    <h6 class="text-lg text-white mb-0 font-weight-bold">Sarah D</h6>
                                    <p class="text-lg text-muted mb-0">CEO, Tech Innovations Inc</p>
                                </div>
                                </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <p class=" text-white text-lg">"Our journey with Cypherox Technologies was exceptional. Their dedication to understanding our needs and translating them into a stunning app was commendable. Kudos to the team for their professionalism and top-notch delivery!" </p>
                                        <div class="client-speak-block-left-bottom mt-2 mt-lg-5 border-dark border rounded-pill px-4 py-3 d-flex align-items-center">
                                    <div class="client-speak-block-left-counter">
                                        <div class="client-speak-block-left-counter-count bg-primary rounded-pill d-flex align-items-center justify-content-center">
                                            <span class=" text-white">4/4</span>
                                        </div>
                                    </div>
                                    <div class="client-speak-block-left-counter-icons d-flex align-items-center">
                                        <span class="bg-white"></span>
                                        <span class="bg-white"></span>
                                    </div>
                                    <div class="client-speak-block-left-info ps-3">
                                        <h6 class="text-lg text-white mb-0 font-weight-bold">Sarah D</h6>
                                        <p class="text-lg text-muted mb-0">CEO, Tech Innovations Inc</p>
                                    </div>
                                    </div>
                                        </div>
                </div>
                <div class="swiper-button-next client-speak-next"></div>
                <div class="swiper-button-prev client-speak-prev"></div>
            </div>
            </div>
            </div>
            <div class="col-sm-4 offset-md-1">
                <div class="client-speak-block-right">
                    <div class="client-speak-block-right-quote-icon position-relative">
                        <img src="assets/images/client-speak-quote-star-icon.svg" class="quote-icon-star img-fluid h-auto"  />
                        <img src="assets/images/client-speak-quote-icon.svg" class="img-fluid" alt="" title="" />
                    </div>
                </div>
            </div>
        </div>
        
            
        </div>
    </div>
</section>