<section class="our-blog space">
    <div class="container-fluid">
        <hgroup class="hgroup mb-4">
            <h3 class="text-black text-uppercase border-bottom border-dark pb-2 text-hgroup-sm dot position-relative mb-0">Our Blog</h3>
        </hgroup>
        
        <div class="our-blog-block py-3 position-relative">
            <div class="row">
                <div class="col-sm-4">
                    <div class="our-blog-block-left position-sticky top-0">
                        <h4 class="text-black heading-sm mb-4 lheight-normal">Latest News & Press</h4>
                        <p class="text text-black lheight-normal">Discover the latest tips, trends, and insights on a variety of topics. Stay informed with our fresh, engaging content!</p>
                        
                        <div class="button-block">
                            <a href="#" class="btn btn-outline-dark rounded-0">Show more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="our-blog-block-right">
                        <div class="card border-grey rounded-0 mb-3">
                          <div class="card-body ">
                          <div class="tag btn btn-outline-dark rounded-0"><small>SEO</small></div>
                            <div class="card-image my-3">
                                <img src="assets/images/our-blog01.png" alt="" title="" class="img-fluid w-50" />
                            </div>
                            <h4 class="">Top SEO Trends to Rank Your Website In 2022</h4>
                          </div>
                          <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                            <a href="#" class="text link-primary">Read More</a>
                            <p class="text-black text mb-0">OCT 15, 2024</p>
                          </div>
                        </div>
                        <div class="card border-grey rounded-0 mb-3">
                            <div class="card-body ">
                            <div class="tag btn btn-outline-dark rounded-0"><small>On-Demand App Development</small></div>
                                <div class="card-image my-3">
                                  <img src="assets/images/our-blog01.png" alt="" title="" class="img-fluid w-50" />
                              </div>
                                <h4 class="">Top SEO Trends to Rank Your Website In 2022</h4>
                            </div>
                            <div class="card-footer bg-transparent d-flex align-items-center justify-content-between">
                                <a href="#" class="text link-primary">Read More</a>
                              <p class="text-black text mb-0">OCT 15, 2024</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
     
        </div>
</section>